body{
    background-color: blue;
}

#v iframe {
    box-shadow: 1px 2px 40px rgb(197, 7, 7);
    opacity: 1;
    transition: opacity 0s;
    display: block;
    flex-direction: row;
    width: 23vmax;
    height: 13vmax;
    margin-bottom: 25px;
}
h1{
    color: white;
}
/*#v:hover iframe{
    opacity:1;
   
}