body{
    background-color: blue;
}

#v iframe {
    box-shadow: 1px 2px 400px rgb(197, 7, 7);
    opacity: 1;
    transition: opacity 15s;
    display: block;
    left: -25px;
    position: absolute;
   

    
}
/**#v:hover iframe{
    opacity:1;
   
}