body{
    background-color: rgb(255, 255, 255);
}

#v iframe {
    box-shadow: 1px 2px 40px rgb(5, 5, 5);
    opacity: 1;
    transition: opacity 0s;
    display: block;
    flex-direction: row;
    width: 23vmax;
    height: 13vmax;
    margin-bottom: 25px;
}
h1{
    color: rgb(0, 0, 0);
}
/*#v:hover iframe{
    opacity:1;
   
}